# This is an Ansible template file
# This is the source material for the env.tfvars file in the "tf" directory
# Once Ansible creates the Public Key it will insert the public key content into the variable "public_key"

public_key = "{{ public_key }}"